@import "../../styles/variables.scss";

.form {
  max-height: 35rem;

  @media (max-width: 460px) {
    overflow: scroll;
  }
}

.container {
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  margin: 5rem 0;
  max-height: 40rem;

  &__form {
    animation: slide-down 400ms ease-in forwards;
    padding: 1.5rem 1.5rem;
    max-width: 50rem;
    border-radius: 0px 15px 0 15px;
    background: #fff;
    position: absolute;

    @media (max-width: 690px) {
      width: 65%;
      position: relative;
      left: 17%;
    }
    @media (max-width: 460px) {
      padding: 0.5rem 0.5rem;
      max-width: 50%;
      position: relative;
      left: 25%;
      height: 70%;
    }
  }
}

@keyframes slide-down {
  0% {
    opacity: 0;
    transform: translateY(-4rem);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}

.form {
  &__close {
    position: absolute;
    right: 0;
    top: 0;
    padding: 10px 17px;
    cursor: pointer;
    border-radius: 0px 15px 0 15px;
    transition: all 0.3s;
    background-color: #ccc;
    font-size: 1.1rem;
    z-index: 100;
    &:hover {
      opacity: 0.8;
      background-color: rgb(228, 135, 135);
    }
  }

  &__close:hover {
    cursor: pointer;
  }

  &__title {
    color: #333;
    font-size: 2rem;
    font-weight: 500;
    position: relative;

    &::before {
      content: "";
      position: absolute;
      height: 3px;
      width: 30px;
      background: linear-gradient(135deg, #be7e84, #993942);

      border-radius: 3px;
      left: 0;
      bottom: 0;
    }
  }

  &__details {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
  }

  &__box {
    margin: 1rem 0 0.7rem 0;
    width: calc(100% / 2 - 20px);
    @media (max-width: 690px) {
      margin-bottom: 0;
      width: 100%;
    }

    &__input {
      height: 2.5rem;
      width: 100%;
      outline: none;
      border: 1px solid #ccc;
      padding-left: 0.5rem;
      font-size: 1rem;
      border-radius: 5px;
      border-bottom: 3px solid #cccccc;
      transition: 0.3s;

      &:focus,
      &:valid {
        border-bottom: 3px solid #993942;
        opacity: 0.5;
      }
    }

    &__name {
      display: block;
      font-weight: 500;
      margin-bottom: 0.3em;

      @media (max-width: 460px) {
        margin-bottom: 0.1em;
      }
    }
  }
}

.btn {
  display: flex;
  justify-content: center;
  align-items: center;

  &__submit {
    cursor: pointer;
    outline: none;
    border-radius: 10px;
    height: 40px;
    width: 100%;
    font-size: 1rem;
    font-weight: 600;
    font-family: inherit;
    background: rgba(#993942, 0.25);
    color: #993942;
    font-weight: 500;
    border: transparent;
    transition: 0.3s ease all;

    &:hover {
      border-color: none;
      background: rgba(#993942, 0.35);
    }
    &:active {
      border-color: none;
      background: rgba(#993942, 0.35);
    }
  }
}

@keyframes background-color {
  0% {
    opacity: 0.8;
  }
  50% {
    opacity: 0.7;
  }
  100% {
    opacity: 1;
  }
}
