:root {
  --body: #993942;
  --varyDarkBlue: hsl(234, 12%, 34%);
  --grayishBlue: hsl(228, 6%, 46%);
  --veryLightGray: hsl(0, 0%, 98%);
  --weight1: 200;
  --weight2: 400;
  --weight3: 600;
}

.container {
  padding: 20px;
  margin: 2.5rem;
  background-color: #f6fbff;
  border-radius: 15px;
}

.attribution {
  font-size: 11px;
  text-align: center;
}
.attribution a {
  color: hsl(228, 45%, 44%);
}

@media (max-width: 400px) {
  h1 {
    font-size: 1.5rem;
  }
}

.header {
  text-align: center;
  line-height: 0.8;
  margin-bottom: 50px;
  margin-top: 100px;
}

.header p {
  margin: 0 auto;
  line-height: 2;
  color: var(--grayishBlue);
}

.box p {
  color: var(--grayishBlue);
  font-size: 0.9rem !important;
}

.box {
  border-radius: 5px;
  box-shadow: 0px 30px 40px -20px var(--grayishBlue);
  padding: 30px;
  margin: 20px;
}

img {
  float: right;
}

@media (max-width: 450px) {
  .box {
    height: 200px;
  }
}

@media (max-width: 950px) and (min-width: 450px) {
  .box {
    text-align: center;
    height: 180px;
  }
}

.cyan {
  border-top: 3px solid var(--body);
}
.red {
  border-top: 3px solid var(--body);
}
.blue {
  border-top: 3px solid var(--body);
}
.orange {
  border-top: 3px solid var(--body);
}

h2 {
  color: var(--varyDarkBlue);
  font-weight: var(--weight3);
  font-size: 1.5rem !important;
}

@media (min-width: 950px) {
  .row1-container {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 5rem;
  }

  .box-down {
    position: relative;
    top: 100px;
  }
  .box {
    width: 20%;
  }
  .header p {
    width: 30%;
  }
}
