@import "./variables.scss";
@import "./slider.scss";
@import "./card.scss";
@import "./control.css";
@import "./button.scss";
@import "./dark.scss";

* {
  box-sizing: border-box;
  margin: 0;
}

html,
body {
  padding: 0;
  width: 100%;
  font-family: $Poppins !important;
  max-width: 95ch;
  margin: 0 auto;
  overflow-x: hidden;
}
body.light {
  background-color: #fff;
  color: $dark;
  transition: background-color 0.25s ease-in-out;
}

body.dark {
  background-color: rgba(#323232, 0.95);
  transition: background-color 0.25s ease-in-out;
  color: $light;
}
/* custom scrollbar */
::-webkit-scrollbar {
  width: 20px;
}

::-webkit-scrollbar-track {
  background-color: transparent;
}

::-webkit-scrollbar-thumb {
  background-color: #9d9d9d;
  border-radius: 20px;
  border: 6px solid transparent;
  background-clip: content-box;
}

::-webkit-scrollbar-thumb:hover {
  background-color: #7f7c82;
}
ul {
  margin-bottom: 0rem;
}

#root {
  height: 100%;
}

.jumbotron-fluid {
  background-color: #f0e9d2;
}

.selected {
  padding-bottom: 0.25rem;
  box-shadow: 0 2px 0 #993942;
  color: #000 !important;
  opacity: 1 !important;

  @media (max-width: 768px) {
    color: #fff !important;
  }
}

.image {
  border-radius: 50%;
  height: 60px;
  width: 60px;
  object-fit: cover;
}

.profile-image {
  display: flex;
  align-items: center;
  justify-content: center;
  padding-top: 20px;
}

#input[type="file"] {
  display: none;
}

.image-container {
  position: relative;
}

.wrapped {
  position: absolute;
  top: -8px;
  right: -8px;
}

.btn-size {
  font-size: 0.6rem;
  font-weight: 500;
  margin-bottom: 0.6rem;
  padding: 0.2rem 0.3rem;
}
//-------FORM SELECT -------//
.form-select {
  height: 2.5rem;
  border-radius: 5px;
  border: 1px solid #cccccc;
  border-bottom: 3px solid #cccccc;
  width: 100%;
  transition: 0.3s;
}

.form-select:focus {
  border-bottom: 3px solid #3e065f;
}
//-------END -------//

.title {
  color: #333;
  font-size: 2rem;
  font-weight: 500;
}

.container-upload {
  display: flex;
  justify-content: center;
  align-items: center;
}

.fa-arrow-alt-circle-up {
  margin-right: 4px;
  font-size: 0.9rem;
  color: #333;
}

.text-td {
  font-size: 14px;
}

.centered {
  margin: 1rem auto;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
}

.button {
  cursor: pointer;
  outline: none;
  border-radius: 10px;
  padding: 8px 30px;
  font-size: 1rem;
  font-weight: 600;
  font-family: inherit;
  background: rgba(#993942, 0.25);
  color: #993942;
  font-weight: 500;
  border: transparent;
  transition: 0.3s ease all;

  &:hover {
    border-color: none;
    background: rgba(#993942, 0.35);
  }
  &:active {
    border-color: none;
    background: rgba(#993942, 0.35);
  }
}

.home {
  margin: auto 0rem;
  text-align: center;
  font-size: 1rem;
  @media (max-width: 650px) {
    margin: auto 0rem;
    font-size: 12px;
  }
}

.test {
  display: grid;
  grid-template-rows: repeat(4, 15rem);
  grid-template-columns: 1fr 1fr 1fr;
  grid-gap: 9rem;
}

.mb-5rem {
  margin-bottom: 6rem;
}

.mlr-6rem {
  margin: auto 6rem;
  @media (max-width: 768px) {
    margin: 0;
  }
}

.people-container {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  grid-auto-rows: 300px;
  gap: 100px;
  margin-bottom: 10rem;
  justify-content: center;
  align-items: center;
  margin: auto 6rem;
}

//->SLIDER <-//

.image_dash {
  margin-bottom: 3rem;
}

.image_admin {
  width: 80%;
  height: 100%;
  margin-bottom: 4rem;
}

.mt-5rem {
  margin-top: 5rem;
}

.rec.rec-arrow {
  background-color: #fff;
  color: #333;
}
/* round buttons on hover */
.rec.rec-arrow:hover {
  border-radius: 50%;
  background-color: #333 !important;
}

.rec.rec-arrow:disabled {
  visibility: hidden;
}
.rec .rec-dot:hover {
  box-shadow: 0 0 1px 3px #333;
}

.rec .rec-dot_active {
  background-color: rgba(#333, 0.6) !important;
  opacity: 0.8;
  box-shadow: 0 0 1px 3px #333;
}
